---
- name: Provision Kali
  hosts: all
  gather_facts: yes
  become: yes

  vars_files:
    - ./variables.yml

  tasks:
    - import_tasks: tasks/packages.yml
    - import_tasks: tasks/user.yml
    - import_tasks: tasks/ssh.yml
    - import_tasks: tasks/pentest.yml
    - import_tasks: tasks/ssm.yml
    - import_tasks: tasks/vnc.yml
    - import_tasks: tasks/firewall.yml

  handlers:
    - import_tasks: handlers/main.yml
