repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.1.0
  hooks:
    - id: check-json
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: mixed-line-ending
    - id: no-commit-to-branch
      args: [--branch, main]
    - id: sort-simple-yaml
      files: ^kali/ansible/variables.yml

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.3
  hooks:
    - id: shellcheck

- repo: https://github.com/ansible/ansible-lint
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      files: \.(yaml|yml)$

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.31.0
  hooks:
    - id: terraform_docs_replace
      args: ['--dest=README.md', '--sort-inputs-by-required', '--with-aggregate-type-defaults']
