[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
molecule = {extras = ["docker"], version = "*"}
docker = "*"
ansible-lint = "*"
pre-commit = "*"

[packages]
ansible = "*"

[requires]
python_version = "3.8"
