---
- name: AWS | Download AWS CLI
  ansible.builtin.get_url:
    url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
    dest: /tmp/awscliv2.zip
    owner: kali
    group: kali
    mode: '660'
  register: awscli_archive

- name: AWS | Unarchive AWS CLI
  ansible.builtin.unarchive:
    src: '{{ awscli_archive.dest }}'
    remote_src: yes
    dest: /tmp
    mode: '660'
  register: new_awscli

- name: AWS | Install AWS CLI
  become: yes
  ansible.builtin.command: sh ./aws/install
  args:
    chdir: /tmp
    creates: /usr/local/bin/aws

- name: AWS | Update AWS CLI
  become: yes
  ansible.builtin.command: sh ./aws/install --update
  args:
    chdir: /tmp
  when: new_awscli.changed  # noqa 503

- name: AWS | Download SSM agent
  ansible.builtin.get_url:
    url: https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/debian_amd64/amazon-ssm-agent.deb
    dest: /tmp/amazon-ssm-agent.deb
    owner: kali
    group: kali
    mode: '660'

- name: AWS | Install SSM agent
  ansible.builtin.apt:
    deb: /tmp/amazon-ssm-agent.deb

- name: AWS | Start SSM agent
  ansible.builtin.systemd:
    name: amazon-ssm-agent
    state: started
    enabled: yes
  # Don't bother with systemd in the Molecule Docker container. Just skip testing this task.
  tags: notest
