---
- name: Pentest | Set Postgres to start upon system boot
  service:
    name: postgresql
    enabled: yes
  # Don't bother with systemd in the Molecule Docker container. Just skip testing this task.
  tags: notest

- name: Pentest | Initialize MSFDB
  shell: msfdb init && touch ~/.ansible-msfdb-init
  args:
    creates: ~/.ansible-msfdb-init
  # Don't bother with systemd in the Molecule Docker container.
  # Can't connect to Postgresl due to systemd in Docker. Not a big testing concern.
  tags: notest

- name: Pentest | Create wordlists dir
  file:
    path: /usr/share/wordlists
    state: directory

- name: Pentest | Un-archive Rockyou Wordlist
  unarchive:
    remote_src: yes
    src: /usr/share/seclists/Passwords/Leaked-Databases/rockyou.txt.tar.gz
    dest: /usr/share/wordlists

- name: Pentest | Install Autorecon
  command: python3 -m pip install git+https://github.com/Tib3rius/AutoRecon.git
  args:
    creates: /usr/local/bin/autorecon

- name: Pentest | Download PEDA
  git:
    repo: https://github.com/longld/peda.git
    dest: /peda
    version: master
    bare: yes

- name: Pentest | Update PEDA file permissions
  file:
    path: /peda
    owner: kali
    group: kali
    recurse: yes
    state: directory

- name: Pentest | Configure PEDA
  lineinfile:
    path: "{{ item }}/.gdbinit"
    line: source /peda/peda.py
    create: yes
    state: present
    regexp: ^source .*\/peda\.py$
    mode: '660'
  loop:
    - /root
    - /home/kali

- name: Pentest | Get Rustscan version
  set_fact:
    rustscan_version: "{{ lookup('artis3n.github.latest_release', 'RustScan/RustScan') }}"

- name: Pentest | Install Rustscan
  apt:
    deb: https://github.com/RustScan/RustScan/releases/download/{{ rustscan_version }}/rustscan_{{ rustscan_version }}_amd64.deb
