---
- name: VNC | Ensure sysconfig directory
  file:
    path: /etc/sysconfig
    state: directory

- name: VNC | Set preferred display manager
  copy:
    content: "PREFERRED=/usr/bin/xcfe4-session"
    dest: /etc/sysconfig/desktop
    owner: kali
    group: kali
    mode: '666'

- name: VNC | Set VNC password
  become: yes
  become_user: kali
  expect:
    command: vncpasswd
    responses:
      Password:: "{{ vnc_pass }}\r"
      Verify:: "{{ vnc_pass }}\r"
      Would you like to enter a view-only password \(y\/n\)\?: "n\r"
    creates: /home/kali/.vnc/passwd
    timeout: 30

- name: VNC | Copy Xserver script
  copy:
    src: files/vnc/Xvnc-session.sh
    dest: /etc/X11/Xvnc-session
    mode: '0755'

- name: VNC | Copy xstartup script
  copy:
    src: files/vnc/xstartup.sh
    dest: /home/kali/.vnc/xstartup
    mode: '0755'

- name: VNC | Copy systemd target
  copy:
    src: files/vnc/vncserver@.service
    dest: /etc/systemd/system/vncserver@.service
    owner: kali
    group: kali
    mode: '660'
  register: vnc_systemd

- name: VNC | Reload systemd
  systemd:
    daemon-reload: yes
  when: vnc_systemd.changed  # noqa 503
  tags: notest

- name: VNC | Start vncserver
  service:
    state: started
    name: vncserver@1.service
    enabled: yes
  # Don't bother with systemd in the Molecule Docker container. Just skip testing this task.
  tags: notest
