---
dependency:
  name: galaxy
  options:
    role-file: requirements.yml
    requirements-file: requirements.yml
driver:
  name: docker
lint: |
  set -e
  echo "PWD: "$PWD
  ansible-lint
platforms:
  - name: instance
    # Tracks the latest official release, so should be the closest available image to the Kali Linux marketplace AMI
    image: kalilinux/kali
    # For UFW tasks
    capabilities:
      - NET_ADMIN
provisioner:
  name: ansible
  playbooks:
    converge: ../../playbook.yml
  inventory:
    host_vars:
      instance:
        ansible_user: root
verifier:
  name: ansible
scenario:
  name: default
  test_sequence:
    - lint
    - destroy
    - syntax
    - dependency
    - create
    - prepare
    - converge
    - verify
    - destroy
