Port {{ sshd_port }}
PermitRootLogin {{ sshd_root_login }}
MaxAuthTries  {{ sshd_max_auth_tries }}

{% if sshd_timeout_enabled %}
ClientAliveInterval {{ sshd_timeout_alive_interval }}
ClientAliveCountMax {{ sshd_timeout_alive_count_max }}
{% endif %}

X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server

# Please do not enable password-based authentication
PubKeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
