---
name: CI

on: [pull_request]

jobs:
  molecule:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Use Cache
        uses: actions/cache@v2.1.4
        with:
          path: ~/.local/share/virtualenvs
          key: ${{ runner.os }}-pipenv-${{ hashFiles('Pipfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pipenv-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel pipenv
          pipenv install --dev

      - name: Test
        run: |
          cd kali/ansible
          pipenv run molecule test

  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: hashicorp/setup-terraform@v1.3.2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Init
        run: cd kali/terraform && terraform init

      - name: Format
        run: cd kali/terraform && terraform fmt -check

      - name: Validate
        run: cd kali/terraform && terraform validate

      - name: Plan
        run: cd kali/terraform && terraform plan
